:root {
  --manilla: navajowhite;
}

/** GLOBAL STYLES **/

body {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
}

p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

/** HEADER STYLES **/



/** MAIN STYLES **/


#file-folder {
  max-width: 950px;
  background-color: mediumturquoise;
}

.date-on-tab {
  /*background-color: var(--manilla);*/
  border-top-right-radius: 50%;
  width: 250px; 
  margin: 0;
}

.date-on-tab h3 {
  padding: 10px 0 0px 20px;
  margin: 0;
}

.grid {
  display: grid;
  grid-template-rows: 100px;
  padding: 0 20px;
  margin: 0;
}

#daily-schedule {
  background-color: var(--manilla);
  padding-top: 20px;
}

.grid-row-wrapper {
  border: 1px solid black;
  display: grid;
  grid-template-columns: 15% auto 15%;
  grid-column: 1 / 4;
}

.hour {
  text-align: center;
  background-color: lightgreen;
  grid-column: 1 / 2;
}

/* TODO: add color gradient for time of day */

h4 {
  margin: 0;
  font-size: 24px;
  padding: 5px 0; /* * Make sure to match with .task-area & .save top/bottom padding*/
}

h4 span {
  font-variant: small-caps;
}

/*******************/
/**** TODO LIST ****/
.task-area {
  background-color: sandybrown;
  grid-column: 2 / 3;
  margin: 0;
  padding: 5px 0; /* * Make sure to match with h4 top/bottom padding*/
}

form {
  margin-left: 40px;
}

.todo-form {
  /*FIXME: why am i not selecting the element correctly? */
  color: blue;
}

/** TO-DO ITEMS **/
.todo-item {
  padding: 3px;
  
}
.item {
  background-color: #fff;
  padding: 5px;
  margin-right: 40px;
}

/* give the .item's -white background curved top/bottom corners*/
.item:first-child {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.item:last-child {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

/** TO-DO INPUTS **/
input .todo-input {
  /*FIXME: why am i not selecting the element correctly? */
  font-color: blue;
}

.checkbox {
  margin-right: 10px;
}

/* applied when the todo item is checked */
.checked { 
  /*TODO: rename as .completed*/
  text-decoration: line-through;
}

/** TO-DO BUTTONS **/
.add-button {
  text-transform: uppercase;
}

.delete-button {
  float: right;
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 2px 5px;
  margin-left: 10px;
  font-weight: 600;
  text-transform: uppercase;
}

.expand {
  background-color: salmon;
  grid-column: 3 / 4;
  padding: 5px 0; /* * Make sure to match with h4 top/bottom padding*/
  display: flex;
}

.expand-button {
  margin: 0 auto;
  height: 35px;
}

/***************************/
/** DAILY SCHEDULE STYLES **/
